body{
    margin: 0;
    color: hsla(240, 100%, 50%, 0.363);
}
header{
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    align-items: center ;
    background-color: hsla(208, 63%, 55%, 0.735);
    height: 50px;
    padding: 25px;
}
header .sec2{
    display: flex;
    flex-direction: row;
}

header .sec2 img{
    margin: 3px;
}


header section{

    width: auto;
    height: auto;
}
header a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: hsla(240, 100%, 50%, 0.477);
}
header h1{
    text-align: center;
}
header img{
    width: 50px;
    height: 50px;
}

.sec2{
    display: flex;
    flex-direction: row;
}
.sec2 a{
    margin: 2px;
}

.sec2 img{
    width: 12px;
    height: 12px;
    
}
.sec2 label{
    text-transform: capitalize;

}
nav{
    background-color: hsla(208, 63%, 55%, 0.897);
    color: hsla(208, 63%, 55%, 0.735);
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding: 10px;  
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: hsla(240, 100%, 50%, 0.477);
}
main{
    display: flex;
    align-items: center;
    height: 500px;
    background-color: hsla(208, 63%, 55%, 0.539);
}

aside{
    float: left;
    width: 20%;
    margin-left: 10px;
    
}
aside img{
    width: 90%;
}
section{
    float: left;
    width: 20%;
    
}
article{
    float: left;
    width: 60%;
    
}
footer{
    display: block;
    clear: both ;
    background-color: hsla(208, 63%, 55%, 0.735);
    height: 100px;
    padding: 25px;
}
footer h1{
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}

.container{
    padding: 2rem;
}
.sliderwrapper{
    position: relative;
    max-width: 48rem;
    margin:0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden  ;
    object-position: 50% 50%;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.items .dagang1{
 
    width: 300px;
    height: 400px;
}




@media (max-width: 414px) {
    

    main{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    aside{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    aside img{
        padding: 10px;
        width: 350px;
    }
    article{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    section{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    section p{
        margin: 10px;
        padding: 10px;
    }
    header .sec2{
        display: flex;
        flex-direction: row;
    }

    header .sec2 img{
        margin: 3px;
    }

    
    header section{

        width: auto;
        height: auto;
    }
}

@media (max-width: 800px) {
    
    header{
        width: 100%;
        padding-right: 20px;
    }
    footer{
        width: 100%;
        padding-right: 20px;
    }
    nav{
        width: 100%;
        padding-right: 35px;
    }

    main{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 101%;
        padding-right: 39px;
        
    }
    aside{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    aside img{
        padding: 10px;
    }
    article{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        right: 10px;
    }
    
    section{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    section p{
        width: 100%;
        margin: 10px;
        padding: 10px;
    }
}

@media (max-width: 1200px) {

    main{
        display: flex;
        align-items: start;
        padding: 20px;
    }
    aside{
        width: 70%;
        margin-top: 20px;
    }
    section{
       
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
    }

    section p{
        margin: 10px;
        padding: 10px;
        font-size: small;
    }
    
    
}

